<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="http://localhost:3000/about.html">About</a><br /><br />

<a href="/address_log/all">Addresses - View All</a> <br />
<a href="/businesses/all">Businesses - View All</a> <br />
<a href="/directors/all">Directors - View All</a> <br />
<a href="/options/all">Options - View All</a> <br />
<a href="/tourists/all">Tourists - View All</a> <br />

<br />

</body>
</html>